{% extends 'base.html' %}

{% block title %}Tasks{% endblock %}

{% block content %}
    <hgroup>
        <h1>Tasks</h1>
        <h2>Track work progress.</h2>
    </hgroup>

    <a href="#" role="button" class="secondary" hx-get="{% url 'task_create' %}" hx-target="#dialog-container" hx-swap="outerHTML" hx-on--after-request="document.querySelector('#create-task-modal').showModal()">Add New Task (HTMX Example)</a>

    <form hx-get="{% url 'task_list' %}" hx-target="#task-list-table-body" hx-swap="outerHTML" hx-trigger="change delay:300ms from:input, select" role="group">
        <label for="status-filter">Filter by Status:</label>
        <select name="status" id="status-filter">
            <option value="">All Statuses</option>
            {% for value, label in task_statuses %}
                <option value="{{ value }}" {% if request.GET.status == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>

        <label for="client-filter">Filter by Client:</label>
        <select name="client" id="client-filter">
            <option value="">All Clients</option>
            {% for client in clients %}
                <option value="{{ client.pk }}" {% if request.GET.client|slugify == client.pk|slugify %}selected{% endif %}>{{ client.get_full_name }}</option>
            {% endfor %}
        </select>
    </form>

    <table>
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Client</th>
                <th scope="col">Status</th>
                <th scope="col">Deadline</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="task-list-table-body">
            {% include 'tasks/partials/task_table.html' %}
        </tbody>
    </table>

    <div id="dialog-container"></div>
{% endblock %}